*{
    margin: 0
}

/*Alt skal være i denne div (ipadsize)*/
.ipadsize{
    height: 1024px;
    width: 768px;
    background-color: #f00;
}


/*---------MENU SIDEN----------*/
.button{
    position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	margin:40px auto;
}
.button:before, .button:after {
	width:200px;
    left: 0px;
	height:27px;
    z-index: -1;
}
.orange{ color: #f14a22; }
/* Button Border Style */
.orange:before,.orange:after {
	border: 3px solid #f14a22;
}

.button:before{
    position: absolute;
    content: '';
    border-bottom: none;
    transform: perspective(15px) rotateX(5deg);
}
.button:after{
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    transform: perspective(15px) rotateX(-5deg);
}

/* Button Hover Style */
.orange:hover:before, .orange:hover:after {
	   background: #f14a22;
}
.button:hover{
	   color:#fff;
}

.knapholder{
    padding-left: 50%;
    margin: -75px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.knap{
    cursor: pointer;

}

.knapmidt{
    float: left;
    position: relative;
    text-align: center;
}

.knaptekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #fff;

}
.knaptekst2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #f14a22

}

.side{
    height: 80px;
    float: left;
}
.midt{
    height: 80px;
    width: 100px;
    float: left;
    object-fit:cover;
}
