@charset "UTF-8";
*{
    margin: 0;
    font-family: titillium-web, sans-serif;
}

/*---------MENU SIDEN----------*/
/*_template-knap_*/
.buttonbox{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding: 100px;
}

.button1{ /* container der holder knapelementer*/
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 110px;
}

.buttoninhold{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.buttonimg{
    width:100%;
    padding-top: 8%;
}
.hex1{ /* venstre trekant*/
    float: left;
    border-right: 40px solid #f15a22;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.hex2{ /*firkant i midten*/
    float: left;
    width: 110px;
    height: 100px;
    background-color: #f15a22;
}

.hex3{ /*hoejre trekant*/
    float: left;
    border-left: 40px solid #f15a22;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.undertekst{
text-align: center;
font-family: rubik, sans-serif;
color: #111724;
font-size: 10pt;
}
a{
  text-decoration: none;
}

/*_kontrolpanel-knap_*/
.Ebuttonbox2{ /*container der holder button 2*/
    text-align: center;
    display: block;
    padding: 50px;
}

.Ebutton2{ /* container der holder knapelementer*/
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 100px;
}

.Ebuttoninhold2{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.Ebuttonimg2{
    width:80%;
    padding-top: 15%;
}

/*_service-knap_*/

.Ebuttonbox3{ /*container der holder button 3*/
    text-align: center;
    display: block;
    padding: 170px;
}

.Ebutton3{ /* container der holder knapelementer*/
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 20px;
}

.Ebuttoninhold3{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.Ebuttonimg3{
    width:70%;
    padding-top: 8%;
}

/*_ Popup vindue med "dagensopgave"_ */
/* Popuppens baggrund */
.Emodal {
  display: none; /* Altid gemt */
  position: fixed; /*Så den forbliver på sin plads */
  z-index: 1; /* Så den kommer til at sidde på overfladen*/
  padding-top: 300px; /* popuppens plads */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popuppens indhold */
.Emodal-content {
  background-color: #515864;
  margin: auto;
  padding: 40px;
  width: 40%;
  color: #FFFFFF;
  text-align: center;
}

/* Lukke knappen */
.Eclose {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/*Brugerikon knappen*/
#EmyBtn{
  width: 10%;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  padding-top: 20px;
}

/*---------TEMPLATE SIDEN----------*/

.vcenterform{
    margin-left: 15px
}

.vcolumncontainer{
    display: flex;
    font-family: sans-serif;
    max-width: 730px;
}
.vcolumn{
    flex: 33%;
}

.inputbox{
    display: block;
}

.teksttknap{
    padding: 30px 0 0 35px;
    font-size: 20px;
    color: #515864;

}

input[type=number], select {
    width: 100%;
    padding: 14px 20px;
    border: 0px solid #ccc;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    color: #515864;
}
input[type=text], select {
    width: 100%;
    padding: 14px 20px;
    border: 0px solid #ccc;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    color: #515864;
}
input[type=number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus{
        outline: none;
    }

::placeholder {
  color: rgba(81,88,100,0.4);
}


.vbutton{
    z-index: 1;
    position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	margin:20px auto;
}
.vbutton:before, .vbutton:after {
	width:200px;
    left: 0px;
	height:27px;
    z-index: -1;
}
.orange{ color: #515864; }
/* Button Border Style */
.orange:before,.orange:after {
	border: 3px solid #515864;
}

.vbutton:before{
    position: absolute;
    content: '';
    border-bottom: none;
    transform: perspective(15px) rotateX(5deg);
}
.vbutton:after{
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    transform: perspective(15px) rotateX(-5deg);
}

.check{
    padding: 14px 0 0 20px;
    font-size: 20px;
    color: #515864;
}

input[type=checkbox]
{
  transform: scale(1.5);
}

.choose{
    padding: 14px 0 0 20px;
    font-size: 20px;
}

.chooseline{
    float: left;
    margin: 0 25px 0 15px;
}

input[type=radio]
{
  transform: scale(1.5);
}

.vline{
    margin: 50px 0 50px 80px;
    height: 3px;
    width: 600px;
    background-color: #515864;
}

.vtitle{
    font-size: 25px;
    color: #515864;
    padding: 20px 30px;

}

.templateselect{
    padding-left: 15px;
}

.vaelgknap{
    margin-top: 10px;
    margin-left: 30px;
}

input[type=submit]
{
  transform: scale(1.5);
}

.simplebuttonbox{
    padding: 50px 0 50px 40px;
    background-color: #ffffff;
}

.simplebutton{
    left: 50%;
    font-size: 25px;
    color: #f15a44;
    border: none;
    background-color: #ffffff;
    text-decoration: underline;
}

.vconfirm{
    text-align: center;
    padding: 50px 0;
}

.vconfirmtekst{
    text-decoration: none;
    font-size: 25px;
    color: #f15a44;
    cursor: pointer;
}

/*submit button*/

.centerbuttonconfirm{
    margin-left: 140px;
}

.subbuttonbox{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding:  50px 15px 50px 0;
    height: 80px;
    float: left;
    flex: 25%
}

.subbutton{ /* container der holder knapelementer*/
    cursor: pointer;
    border: none;
    outline: none;
}

/*.subbutton:hover {background-color: #3e8e41}*/

.subbutton:active {
    transform: scale(0.95);
    border: none;
}


.subbuttontext{ /* tekst i knappen*/
    padding-top: 12%;
    color: #fff;
    font-size: 20px;
    line-height: 65px;
}

.subhex1{ /* venstre trekant*/
    float: left;
    border-right: 30px solid #f15a22;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.subhex2{ /*firkant i midten*/
    float: left;
    width: 150px;
    height: 70px;
    background-color: #f15a22;
}

.subhex3{ /*hoejre trekant*/
    float: left;
    border-left: 30px solid #f15a22;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.greysubhex1{ /* venstre trekant*/
    float: left;
    border-right: 30px solid #515964;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.greysubhex2{ /*firkant i midten*/
    float: left;
    width: 150px;
    height: 70px;
    background-color: #515964;
}

.greysubhex3{ /*hoejre trekant*/
    float: left;
    border-left: 30px solid #515964;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
/*end of submit button*/

/*-------Index side-------*/


.vbackground{
    background-color: #515864;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.vlogo{
    width: 500px;
    padding-bottom: 30px;
    display: block;
    padding-left: 50%;
    margin-left: -250px;
}

.vqr{
    width: 500px;
    
}

.qrtekst{
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
    line-height: 55px;
}

.qrtekstlille{
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    padding: 20px 0;
    margin-bottom: 20px;
}
