*{
    margin: 0;
}

/*Alt skal være i denne div (ipadsize)*/
.ipadsize{
    height: 1024px;
    width: 768px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    
}


/*---------MENU SIDEN----------*/
/*_template-knap_*/
.buttonbox{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding: 50px;
}

.button1{ /* container der holder knapelementer*/
    position: absolute;
    left: 75%;
    padding-top: 40px;
}

.buttoninhold{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.buttonimg{
    width:100%;
    padding-top: 8%;
}
.hex1{ /* venstre trekant*/
    float: left;
    border-right: 40px solid #f15a22;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.hex2{ /*firkant i midten*/
    float: left;
    width: 110px;
    height: 100px;
    background-color: #f15a22;
}

.hex3{ /*hoejre trekant*/
    float: left;
    border-left: 40px solid #f15a22;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}


/*---------TEMPLATE SIDEN----------*/

.vcolumncontainer{
    display: flex;
    font-family: sans-serif;
}
.vcolumn{
    flex: 33%;
}

.inputbox{
    display: block;
}

.teksttknap{
    padding: 30px 0 0 35px;
    font-size: 20px;
    color: #515864;
    
}

input[type=number], select {
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
    font-size: 20px;
    color: #515864;
    outline-width: 0;
}
input[type=text], select {
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    position: relative;
    display: block;
    font-size: 20px;
    color: #515864;
    outline-width: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::placeholder {
  color: rgba(81,88,100,0.4);
}

.button{
    z-index: 1;
    position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	margin:20px auto;
}
.button:before, .button:after {
	width:200px;
    left: 0px;
	height:27px;
    z-index: -1;
}
.orange{ color: #515864; }
/* Button Border Style */
.orange:before,.orange:after {
	border: 3px solid #515864;
}

.button:before{
    position: absolute;
    content: '';
    border-bottom: none;
    transform: perspective(15px) rotateX(5deg);  
}
.button:after{
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    transform: perspective(15px) rotateX(-5deg);
}

.undertekst{
text-align: center;
font-family: ;

}
/*_kontrolpanel-knap_*/
.buttonbox2{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding: 100px;
}

.button2{ /* container der holder knapelementer*/
    position: absolute;
    left: 75%;
    padding-top: 50px;
}

.buttoninhold2{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.buttonimg2{
    width:80%;
    padding-top: 15%;
}

/*_service-knap_*/

.buttonbox3{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding: 100px;
}

.button3{ /* container der holder knapelementer*/
    position: absolute;
    left: 75%;
    padding-top: 20px;
}

.buttoninhold3{ /* billede i knappen*/
    width: 100%;
    text-align: center;
}
.buttonimg3{
    width:70%;
    padding-top: 8%;
}
