*{
    margin: 0;
    font-family: titillium-web, sans-serif;
}
/*Alt skal være i denne div (ipadsize)*/
.ipadsize{
    height: 1024px;
    width: 768px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
}
ul{
  list-style-type: none;
}
.menu {
  width: 40px;
  height: 6px;
  background-color: white;
  margin: 7px 0;

}
#Logo{
  float: left;
}
img{
  height: auto;
  width: 45vw;
  float: left;
  padding-right: 450px;
  padding-top: 5px;
}
.navbar{
  background-color: #515864;
  height: 10vh;
}
/* burger-menu*/
.dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  padding-top: 20px;
  border: none;
  cursor: pointer;
}

/* dropdown menuen*/
.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
}

/* Dropdown-menu (skjult) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #515864;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 48px;
  margin-left: -125px;
}

/* links i dropdown */
.dropdown-content a {
  color: #fff;
  font-size: 40px;
  padding: 40px 30px;
  text-decoration: none;
  display: block;
}

/* farve på link til hover*/
.dropdown-content a:hover {background-color: ;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
