*{
    margin: 0;
    font-family: titillium-web, sans-serif;
}
h2{
  font-family: titillium-web, sans-serif;
  padding-left: 110px;
}
ul{
  list-style-type: none;
}
.menu {
  width: 50px;
  height: 7px;
  background-color: white;
  margin: 10px 0;
}

#logo{
  height: auto;
  width: 53vw;
  float: left;
}
.navbar{
  background-color: #515864;
  height: 10vh;
}
/* burger-menu*/
.dropbtn {
  background-color: inherit;
      color: white;
      padding-left: 88px;
      margin-top: -100px;
      margin-left: -20px;
      border: none;
      cursor: pointer;
      position: fixed;
}

/* dropdown menuen*/
.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
}

/* Dropdown-menu (skjult) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #515864;
  min-width: 400px;
  min-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -2px;
  margin-right: -148px;
  right: 0;
}

/* links i dropdown */
.dropdown-content a {
  color: #FFF;
  font-size: 40px;
  padding: 40px 30px;
  text-decoration: none;
  display: block;
}

/* farve på link til hover*/
.dropdown-content a:hover {background-color: ;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.tandhjul-container {
  display: flex;
  justify-content: flex-end;
}

#tandhjul{
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 30px;
  width: 100px;
}
.knapper{
position: relative;
margin-left: 200px;
margin-top: 50px;
font-size: 40px;
padding-bottom: 100px;
}
#bruger{
  width: 7vw;
  position: relative;
  padding: 35px;
  margin-left: 37px;
}
#visualisering{
  width: 50vw;
  padding: 40px;
  margin: 40px 0px 20px 125px;
}
.w3-container{
  padding-left: 110px;
  padding-right: 110px;
}
