@media (min-width: 768px) {

*{
    margin: 0;
    font-family: titillium-web, sans-serif;
}
h2{
  font-family: titillium-web, sans-serif;
  padding-left: 110px;
}
ul{
  list-style-type: none;
}
.menu {
  width: 50px;
  height: 7px;
  background-color: white;
  margin: 10px 0;
}

#logo{
  height: auto;
  width: 53vw;
  float: left;
}
.navbar{
  background-color: #515864;
  height: 10vh;
}
/* burger-menu*/
.dropbtn {
  background-color: inherit;
      color: white;
      padding-left: 88px;
      margin-top: -100px;
      margin-left: -20px;
      border: none;
      cursor: pointer;
      position: fixed;
}

/* dropdown menuen*/
.dropdown {
  position: relative;
  display: inline-block;
  background-color: inherit;
}

.dropdown-content-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Dropdown-menu (skjult) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #515864;
  min-width: 400px;
  min-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* links i dropdown */
.dropdown-content a {
  color: #FFF;
  font-size: 40px;
  padding: 40px 30px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.tandhjul-container {
  display: flex;
  justify-content: flex-end;
}

#tandhjul{
  position: relative;
  float: right;
  margin-right: 135px;
  margin-top: 40px;
  width: 105px;
}
.knapper{
  position: relative;
      margin-left: 120px;
      margin-top: 34px;
      font-size: 40px;
      padding-bottom: 70px;
      padding: 20px;
}
.lbutton1{
  background-color: #f15a22;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;

}
.lbutton2{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #515864;
  color: #fff;

}
.lbutton3{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: inherit;
  color: #515864;
}

#bruger{
  width: 7vw;
  position: relative;
  padding: 35px;
  margin-left: 37px;
}

#visualisering{
  width: 50vw;
  padding: 35px;
  margin-left: 180px;
}
.w3-container{
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #515864;
  width: 100%;
}

.dropbtn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 140px;
}

.dropbtn-container button {
  background-color: #515864;
  border: none;
}

#statustitel{
  margin: 20px 0;
  padding-left: initial;
}
}
