@charset "UTF-8";
* {
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: titillium-web, sans-serif;
}

.main {
    margin-left: 160px;
    font-size: 12px;
    padding: 0px 10px;
}


/* linje*/

hr {
    height: 6px;
    background: #f15a22;
    margin-bottom: 2%;
}

#tekst {
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}


/* navigation*/

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #515864;
    padding-top: 40px;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    background-color: #a2a7a5;
}


/*Farveskema siden*/

.styleGuideGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.styleGuideGridItem {
    margin-top: 2%;
}

.farveGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.farveText {
    margin: auto;
}

.farve1 {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    background: #F15A22;
}

.farve2 {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    background: #111724;
}

.farve3 {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    background: #222B3B;
}

.farve4 {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    background: #515864;
}

.farve5 {
    width: 100px;
    height: 100px;
    border-radius: 13px;
    background: #FFFFFF;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}


/*Typografi siden*/
#tekstheading1{
text-align: center;
font-family: rubik, sans-serif;
}

#tekst1 {
    font-family: rubik, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;}

#tekstheading2{
        text-align: center;
        }
#tekst2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}

#tekstheading3{
    text-align: center;
    font-weight: 300;
    }
#tekst3 {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 30px;
}






/* knap fra nettet (oeverste) */


.button{
    position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
	margin:40px auto;
}
.button:before, .button:after {
	width:200px;
    left: 0px;
	height:27px;
    z-index: -1;
}
.orange{ color: #515864; }
/* Button Border Style */
.orange:before,.orange:after {
	border: 3px solid #515864;
}

.button:before{
    position: absolute;
    content: '';
    border-bottom: none;
    transform: perspective(15px) rotateX(5deg);  
}
.button:after{
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    transform: perspective(15px) rotateX(-5deg);
}

/* Button Hover Style */
.orange:hover:before, .orange:hover:after {
	   background: #515864;
}
.button:hover{
	   color:#fff;
}

/*link knap*/
.simplebuttonbox{
    text-align: center;
    padding-top: 50px;
}

.simplebutton{
    left: 50%;
    font-size: 20px;
    color: #f15a44;
}

/*"knap2" (nederste)*/

.buttonbox{ /*container der holder button 1*/
    text-align: center;
    display: block;
    padding: 50px;
}

.button1{ /* container der holder knapelementer*/
    position: absolute;
    left: 50%;
    padding-top: 40px;
}

.buttontext{ /* tekst i knappen*/
    padding-top: 12%;
    color: #fff;
    font-size: 20px;
}

.hex1{ /* venstre trekant*/
    float: left;
    border-right: 30px solid #f15a22;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.hex2{ /*firkant i midten*/
    float: left;
    width: 200px;
    height: 80px;
    background-color: #f15a22;
}

.hex3{ /*hoejre trekant*/
    float: left;
    border-left: 30px solid #f15a22;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

/*responsive*/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}